# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.venv/
venv/
ENV/
.env/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Node/React
node_modules/
dist/
build/
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# FastAPI
*.sqlite3

# Pygame
*.sav
